@CHARSET "ISO-8859-1";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	font-family: Helvetica,Arial,Tahoma,sans-serif;
	font-size: 12px;
}
.clear{
	clear: both;
}
.hd{
width: 950px;
margin: auto;
padding: 5px 0px;
border-bottom: 1px solid #FF9900;
}
.line {
background: url("image/line1.png") repeat-x scroll 0 0 transparent;
height: 5px;
width: 950px;
margin: auto;
}
.tl {
    background: none repeat scroll 0 0 #FF9900;
    height: 14px;
}
.bd{
width: 950px;
margin: 20px auto;
}
.lg{
float: left;
}
.menu{
list-style: none;
float: right;
margin-top: 30px;
}
.menu li{
float: left;
border-top: 2px solid #FF9900;
border-right: 2px solid #FF9900;
border-left: 2px solid #FF9900;
border-bottom: 2px solid #FF9900;
margin-left: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 2px;
}
.menu li a:hover{
background: #ffdfaf;
}
.menu li a{
text-decoration: none;
color: #0C85BA;
font-weight: bold;
padding: 3px 8px;
display: block;
background: #fff3e3;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
}
.menu .at{
background: #ffdfaf;
}
.bl{
width: 728px;
float: left;
}
.bl p{
padding: 5px 0px;
line-height: 20px;
}
.bl h2{
font-size: 24px;
float: left;
}
.adt{
float: right;
}
.so{
margin-top: 4px;
margin-right: 0;
}
.lq{
padding-left: 15px;
margin-top: 10px;
}
.lq li{
padding: 5px;
}
.lq p{
padding: 5px 0px;
}
.lq h1{
overflow: hidden;
}
.lq h1 a{
color: #0C85BA;
font-size: 15px;
background: none;
padding-left: 0;
}
.lq h1 a:hover{
background: none;
}
.lq a,.ret a,.tags,.lt a{
color: #FF9900;
text-decoration: none;
padding: 5px;
background-color: #E0EAF1;
border-bottom: 1px solid #3E6D8E;
border-right: 1px solid #7F9FB6;
color: #3E6D8E;
line-height: 2.4;
margin: 2px 2px 2px 0;
padding: 3px 4px;
text-decoration: none;
white-space: nowrap;
}
.lq a:HOVER,.ret a:HOVER,.tags:HOVER,.lt a:HOVER{
background: #3e6d8e;
color: white;
}
.lq h1 a:HOVER{
color: #FF9900;
}
.br{
width: 210px;
float: right;
}
.br h3{
font-size: 15px;
margin-top: 10px;
}
.vr{
list-style: none;
}
.vr li{
padding: 5px 0px 5px 0px;
}
.vr a{
color: #0077CC;
text-decoration: none;
font-weight: bold;
font-size: 11px;
}
.vr a:HOVER{
color: #FF9900;
}
.ft{
width: 930px;
padding: 10px;
margin: auto;
text-align: center;
font-weight: bold;
}
.ft a{
color: #0077CC;
text-decoration: none;
}
.ret{
list-style: none;
}
.it{
color: #444444;
font-size: 14px;
font-weight: bold;
}
.it a{
display: inline !important;
}
pre.prettyprint {
    border: 0 solid #888888;
    padding: 2px;
}

pre {
    word-wrap: normal;
}

pre {
    background-color: #EEEEEE;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    margin-bottom: 10px;
    max-height: 600px;
    overflow: auto;
    padding: 5px 5px 20px;
}
pre span {
font-size: 15px;
}
.pln {
    color: #000000;
}
.pun {
    color: #666600;
}
.lit {
    color: #006666;
}
.kwd {
    color: #000088;
}
.typ {
    color: #660066;
}
.com {
    color: #880000;
}
.tag {
    color: #000088;
}
.author{
color: #0077CC;
text-decoration: none;
}
.author:HOVER {
	color: #FF9900;
}
.bl h4{
font-size: 17px;
}
.bl h4 a{
color: #0C85BA;
}
.bl h4 a:HOVER {
	color: #FF9900;
}
.send_mail textarea {
    display: block;
    height: 150px;
    width: 400px;
}
.send_mail input {
    display: block;
    width: 300px;
}
.lt{
list-style: none;
margin-top: 10px;
}
.lt li{
float: left;
padding: 5px 5px 5px 0px;
width: 185px;
overflow: hidden;
}
.tt{
font-size: 24px;
margin-bottom: 10px;
}
.lat{
list-style: none;
margin-top: 10px;
}
.lat li{
float: left;
padding: 5px 5px 5px 0px;
width: 232px;
overflow: hidden;
margin-bottom: 20px;
}
.lat img{
float: left;
margin-right: 5px;
}
.lat a{
text-decoration: none;
color: #0C85BA;
display: block;
font-size: 15px;
font-weight: bold;
}
.lat a:HOVER {
	color: #FF9900;
}
.paginate {
text-align:right;
padding-right:30px;
padding-top:20px;
list-style: none;
clear: both;
}
.lt .paginate,.lat .paginate{
float: right;
width: auto;
margin-top: 20px;
}
.paginate a {
text-decoration:none;
border:1px solid #A8DCFF;
color:#000;
margin-left:3px;
padding:3px 5px;
font-size: 12px;
display: inline;
}

.paginate span {
text-decoration:none;
border:1px solid #A8DCFF;
background:#A8DCFF;
color:red;
margin-left:3px;
padding:3px 5px;
}

.paginate a:hover {
color:red;
}
.flag{
width: 950px;
margin: auto;
list-style: none;
}
.flag li {
float: right;
width: 16px;
height: 12px;
margin-left: 5px;
}
.flag li a{
display: block;
text-decoration: none;
}
.en{
background: url("/images/flag.gif") scroll 0px -41px no-repeat;
}
.es{
background: url("/images/flag.gif") scroll 0px 1px no-repeat;
}
.de{
background: url("/images/flag.gif") scroll 0px -13px no-repeat;
}
.fr{
background: url("/images/flag.gif") scroll 0px -27px no-repeat;
}
.hi{
background: url("/images/flag.gif") scroll 0px -169px no-repeat;
}
.ja{
background: url("/images/flag.gif") scroll 0px -55px no-repeat;
}
.ko{
background: url("/images/flag.gif") scroll 0px -69px no-repeat;
}
.nl{
background: url("/images/flag.gif") scroll 0px -83px no-repeat;
}
.pl{
background: url("/images/flag.gif") scroll 0px -97px no-repeat;
}
.pt{
background: url("/images/flag.gif") scroll 0px -111px no-repeat;
}
.ro{
background: url("/images/flag.gif") scroll 0px -125px no-repeat;
}
.tr{
background: url("/images/flag.gif") scroll 0px -139px no-repeat;
}
.ru{
background: url("/images/flag.gif") scroll 0px -154px no-repeat;
}
.zh{
background: url("/images/flag.gif") scroll 0px -169px no-repeat;
}
.lgu{
list-style: none;

}
.lgu li{
padding-left: 25px;
margin-bottom: 5px;
}
.lgu li a{
text-decoration: none;
color: #0C85BA;
}
.lgu li a:HOVER {
	color: #FF9900;
}