<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<jsp-config>
  		<jsp-property-group>
    		<url-pattern>*.jsp</url-pattern>
   			<trim-directive-whitespaces>true</trim-directive-whitespaces>
    	</jsp-property-group>
	</jsp-config>
	<servlet>
		<servlet-name>Faq</servlet-name>
		<servlet-class>faq.controller.FaqServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faq</servlet-name>
		<url-pattern>/</url-pattern>
		<url-pattern>/en</url-pattern>
		<url-pattern>/es</url-pattern>
		<url-pattern>/de</url-pattern>
		<url-pattern>/fr</url-pattern>
		<url-pattern>/hi</url-pattern>
		<url-pattern>/ja</url-pattern>
		<url-pattern>/ko</url-pattern>
		<url-pattern>/nl</url-pattern>
		<url-pattern>/pl</url-pattern>
		<url-pattern>/pt</url-pattern>
		<url-pattern>/ro</url-pattern>
		<url-pattern>/tr</url-pattern>
		<url-pattern>/ru</url-pattern>
		<url-pattern>/zh</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DetailFaq</servlet-name>
		<servlet-class>faq.controller.DetailFaqServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DetailFaq</servlet-name>
		<url-pattern>/en/question/*</url-pattern>
		<url-pattern>/es/question/*</url-pattern>
		<url-pattern>/de/question/*</url-pattern>
		<url-pattern>/fr/question/*</url-pattern>
		<url-pattern>/hi/question/*</url-pattern>
		<url-pattern>/ja/question/*</url-pattern>
		<url-pattern>/ko/question/*</url-pattern>
		<url-pattern>/nl/question/*</url-pattern>
		<url-pattern>/pl/question/*</url-pattern>
		<url-pattern>/pt/question/*</url-pattern>
		<url-pattern>/ro/question/*</url-pattern>
		<url-pattern>/tr/question/*</url-pattern>
		<url-pattern>/ru/question/*</url-pattern>
		<url-pattern>/zh/question/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ListTag</servlet-name>
		<servlet-class>faq.controller.ListTagServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListTag</servlet-name>
		<url-pattern>/en/list-tags/*</url-pattern>
		<url-pattern>/es/list-tags/*</url-pattern>
		<url-pattern>/de/list-tags/*</url-pattern>
		<url-pattern>/fr/list-tags/*</url-pattern>
		<url-pattern>/hi/list-tags/*</url-pattern>
		<url-pattern>/ja/list-tags/*</url-pattern>
		<url-pattern>/ko/list-tags/*</url-pattern>
		<url-pattern>/nl/list-tags/*</url-pattern>
		<url-pattern>/pl/list-tags/*</url-pattern>
		<url-pattern>/pt/list-tags/*</url-pattern>
		<url-pattern>/ro/list-tags/*</url-pattern>
		<url-pattern>/tr/list-tags/*</url-pattern>
		<url-pattern>/ru/list-tags/*</url-pattern>
		<url-pattern>/zh/list-tags/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ListAuthor</servlet-name>
		<servlet-class>faq.controller.ListAuthorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListAuthor</servlet-name>
		<url-pattern>/en/list-authors/*</url-pattern>
		<url-pattern>/es/list-authors/*</url-pattern>
		<url-pattern>/de/list-authors/*</url-pattern>
		<url-pattern>/fr/list-authors/*</url-pattern>
		<url-pattern>/hi/list-authors/*</url-pattern>
		<url-pattern>/ja/list-authors/*</url-pattern>
		<url-pattern>/ko/list-authors/*</url-pattern>
		<url-pattern>/nl/list-authors/*</url-pattern>
		<url-pattern>/pl/list-authors/*</url-pattern>
		<url-pattern>/pt/list-authors/*</url-pattern>
		<url-pattern>/ro/list-authors/*</url-pattern>
		<url-pattern>/tr/list-authors/*</url-pattern>
		<url-pattern>/ru/list-authors/*</url-pattern>
		<url-pattern>/zh/list-authors/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Tag</servlet-name>
		<servlet-class>faq.controller.TagServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tag</servlet-name>
		<url-pattern>/en/tag/*</url-pattern>
		<url-pattern>/es/tag/*</url-pattern>
		<url-pattern>/de/tag/*</url-pattern>
		<url-pattern>/fr/tag/*</url-pattern>
		<url-pattern>/hi/tag/*</url-pattern>
		<url-pattern>/ja/tag/*</url-pattern>
		<url-pattern>/ko/tag/*</url-pattern>
		<url-pattern>/nl/tag/*</url-pattern>
		<url-pattern>/pl/tag/*</url-pattern>
		<url-pattern>/pt/tag/*</url-pattern>
		<url-pattern>/ro/tag/*</url-pattern>
		<url-pattern>/tr/tag/*</url-pattern>
		<url-pattern>/ru/tag/*</url-pattern>
		<url-pattern>/zh/tag/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Author</servlet-name>
		<servlet-class>faq.controller.AuthorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Author</servlet-name>
		<url-pattern>/en/author/*</url-pattern>
		<url-pattern>/es/author/*</url-pattern>
		<url-pattern>/de/author/*</url-pattern>
		<url-pattern>/fr/author/*</url-pattern>
		<url-pattern>/hi/author/*</url-pattern>
		<url-pattern>/ja/author/*</url-pattern>
		<url-pattern>/ko/author/*</url-pattern>
		<url-pattern>/nl/author/*</url-pattern>
		<url-pattern>/pl/author/*</url-pattern>
		<url-pattern>/pt/author/*</url-pattern>
		<url-pattern>/ro/author/*</url-pattern>
		<url-pattern>/tr/author/*</url-pattern>
		<url-pattern>/ru/author/*</url-pattern>
		<url-pattern>/zh/author/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AuthorAnwer</servlet-name>
		<servlet-class>faq.controller.AuthorAnwerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthorAnwer</servlet-name>	
		<url-pattern>/en/author-answer/*</url-pattern>
		<url-pattern>/es/author-answer/*</url-pattern>
		<url-pattern>/de/author-answer/*</url-pattern>
		<url-pattern>/fr/author-answer/*</url-pattern>
		<url-pattern>/hi/author-answer/*</url-pattern>
		<url-pattern>/ja/author-answer/*</url-pattern>
		<url-pattern>/ko/author-answer/*</url-pattern>
		<url-pattern>/nl/author-answer/*</url-pattern>
		<url-pattern>/pl/author-answer/*</url-pattern>
		<url-pattern>/pt/author-answer/*</url-pattern>
		<url-pattern>/ro/author-answer/*</url-pattern>
		<url-pattern>/tr/author-answer/*</url-pattern>
		<url-pattern>/ru/author-answer/*</url-pattern>
		<url-pattern>/zh/author-answer/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ListQuestion</servlet-name>
		<servlet-class>faq.controller.ListQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListQuestion</servlet-name>
		<url-pattern>/en/list-questions/*</url-pattern>
		<url-pattern>/es/list-questions/*</url-pattern>
		<url-pattern>/de/list-questions/*</url-pattern>
		<url-pattern>/fr/list-questions/*</url-pattern>
		<url-pattern>/hi/list-questions/*</url-pattern>
		<url-pattern>/ja/list-questions/*</url-pattern>
		<url-pattern>/ko/list-questions/*</url-pattern>
		<url-pattern>/nl/list-questions/*</url-pattern>
		<url-pattern>/pl/list-questions/*</url-pattern>
		<url-pattern>/pt/list-questions/*</url-pattern>
		<url-pattern>/ro/list-questions/*</url-pattern>
		<url-pattern>/tr/list-questions/*</url-pattern>
		<url-pattern>/ru/list-questions/*</url-pattern>
		<url-pattern>/zh/list-questions/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AuthorQuestion</servlet-name>
		<servlet-class>faq.controller.AuthorQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthorQuestion</servlet-name>
		<url-pattern>/en/author-question/*</url-pattern>
		<url-pattern>/es/author-question/*</url-pattern>
		<url-pattern>/de/author-question/*</url-pattern>
		<url-pattern>/fr/author-question/*</url-pattern>
		<url-pattern>/hi/author-question/*</url-pattern>
		<url-pattern>/ja/author-question/*</url-pattern>
		<url-pattern>/ko/author-question/*</url-pattern>
		<url-pattern>/nl/author-question/*</url-pattern>
		<url-pattern>/pl/author-question/*</url-pattern>
		<url-pattern>/pt/author-question/*</url-pattern>
		<url-pattern>/ro/author-question/*</url-pattern>
		<url-pattern>/tr/author-question/*</url-pattern>
		<url-pattern>/ru/author-question/*</url-pattern>
		<url-pattern>/zh/author-question/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Rss</servlet-name>
		<servlet-class>faq.controller.RssServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rss</servlet-name>
		<url-pattern>/en/rss</url-pattern>
		<url-pattern>/es/rss</url-pattern>
		<url-pattern>/de/rss</url-pattern>
		<url-pattern>/fr/rss</url-pattern>
		<url-pattern>/hi/rss</url-pattern>
		<url-pattern>/ja/rss</url-pattern>
		<url-pattern>/ko/rss</url-pattern>
		<url-pattern>/nl/rss</url-pattern>
		<url-pattern>/pl/rss</url-pattern>
		<url-pattern>/pt/rss</url-pattern>
		<url-pattern>/ro/rss</url-pattern>
		<url-pattern>/tr/rss</url-pattern>
		<url-pattern>/ru/rss</url-pattern>
		<url-pattern>/zh/rss</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Sitemap</servlet-name>
		<servlet-class>faq.controller.SitemapServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sitemap</servlet-name>
		<url-pattern>/en/sitemap</url-pattern>
		<url-pattern>/es/sitemap</url-pattern>
		<url-pattern>/de/sitemap</url-pattern>
		<url-pattern>/fr/sitemap</url-pattern>
		<url-pattern>/hi/sitemap</url-pattern>
		<url-pattern>/ja/sitemap</url-pattern>
		<url-pattern>/ko/sitemap</url-pattern>
		<url-pattern>/nl/sitemap</url-pattern>
		<url-pattern>/pl/sitemap</url-pattern>
		<url-pattern>/pt/sitemap</url-pattern>
		<url-pattern>/ro/sitemap</url-pattern>
		<url-pattern>/tr/sitemap</url-pattern>
		<url-pattern>/ru/sitemap</url-pattern>
		<url-pattern>/zh/sitemap</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Contact</servlet-name>
		<servlet-class>faq.controller.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/en/contact</url-pattern>
		<url-pattern>/es/contact</url-pattern>
		<url-pattern>/de/contact</url-pattern>
		<url-pattern>/fr/contact</url-pattern>
		<url-pattern>/hi/contact</url-pattern>
		<url-pattern>/ja/contact</url-pattern>
		<url-pattern>/ko/contact</url-pattern>
		<url-pattern>/nl/contact</url-pattern>
		<url-pattern>/pl/contact</url-pattern>
		<url-pattern>/pt/contact</url-pattern>
		<url-pattern>/ro/contact</url-pattern>
		<url-pattern>/tr/contact</url-pattern>
		<url-pattern>/ru/contact</url-pattern>
		<url-pattern>/zh/contact</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CrawContent</servlet-name>
		<servlet-class>faq.craw.CrawContentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrawContent</servlet-name>
		<url-pattern>/craw_content</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CrawUrl</servlet-name>
		<servlet-class>faq.craw.CrawUrlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrawUrl</servlet-name>
		<url-pattern>/craw_url</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
</web-app>
